body {
    background: #94b9d1;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: minmax(120px, auto);
    /* grid-template-columns:  */
    height: 99vh;
    background: #94b9d1;
    color: balck;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}

.newDiv {
    display: flex;
}

.feel {
    display: block;
}

.entry {
    background: white;
    height: 150px;
    width: 423px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 423px;
    background: white;
    color: balck;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    border: none;
}

button {
    width: 423px;
    height: 80px;
    background: black;
    color: white;
    font-size: 26px;
    font-family: "Oswald", sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
}

textarea {
    background: white;
    color: black;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: black;
    font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
    font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
    font-family: "Oswald", sans-serif;
}